<main>
<section class="build-plan">
    <div class="container">
<div class="build-plan-info outset-neomo">
    <svg viewBox="0 0 940 588" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image width="940" height="588" xlink:href="assets/img/house.jpg" />
        <a href="">
        <path id="house-3" class="house" d="M700 532.5V288L711 287V283.5L740 273.5L759.5 281V288L774 292.5L773 533L700 532.5Z"/>
    </a>
    <a href="">
        <path id="house-2" class="house" d="M383.5 523.5V532L488 533V200H487V195L458 185V179.5H456.5V174L424.5 163.5L415 170.5L397 164.5L382 176L380 476.5H392.5V485H398.5V503.5H404V514H400V523.5H383.5Z"/>
    </a>
    <a href="">
        <path id="house-1" class="house" d="M163.5 529V542L317 541L317.5 521H315V518.5H313L312.5 141.5H311V135L270 121.5V109L227 94.5L219.5 104.5L185.5 93L173 111.5L174 529H163.5Z"/>
    </a>
    </svg>
</div>
<div class="inset-neomo house-info">
    <h2 class="house-info__title">Информация о доме</h2>
    <h4 class="house-info__number inset-neomo">Адрес <span id="build-value">Бульвар Тараса Шевченко 11</span></h4>
    <h4 class="house-info__stages inset-neomo">Колл-во этажей <span id="stages-value">25</span></h4>
    <h4 class="house-info__flat inset-neomo">Колл-во квартир <span id="flats-value">200</span></h4>
    <div class="house-info__descriptions inset-neomo scroll">Sales</div>
</div>
</div>
</section>
</main>